* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: lightgrey;
}

*::-webkit-scrollbar {
  display: none;
}

.header-section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
  margin-inline: 0;
  padding-inline: 0;
}

h1 {
  font-family: Poppins;
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.page {
  font-family: mulish;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-block-start: 3rem;
}

.h2-first-section {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-align: center;
}

.text-under-h2 {
  font-family: mulish;
  margin: 2.5rem;
  margin-block-start: 1.5rem;
  text-align: center;
}

.get-started {
  display: flex;
  background-color: #009379;
  border: 1px solid transparent;
  padding-inline: 3rem;
  border-radius: 20px;
  align-items: center;
  padding-block: 1rem;
  gap: 10px;
  margin-block-end: 3rem;
  cursor: pointer;
  p {
    color: white;
    font-family: poppins;
  }
}

.second-section-h2 {
  font-family: Poppins;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
}

.text-under-h2-section-2 {
  font-family: mulish;
  margin: 2.5rem;
  font-size: 1.3rem;
  margin-block-start: 1.5rem;
  text-align: center;
}

.container-section-2 {
  display: flex;
  padding: 3.75rem 1.875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
  align-self: stretch;
  padding: 0;
  padding-inline: 2rem;

  .fast-building {
    display: flex;
    padding: 1.25rem;
    align-items: center;
    gap: 1.25rem;
    align-self: stretch;
    border-radius: 1.25rem;
    border: 1px solid var(--CTA---Aqua-Squeeze, #e5f4f2);
    background: #fff;
    cursor: pointer;
  }

  .img-container-ovni {
    display: flex;
    padding: 0.76219rem;
    align-items: flex-start;
    gap: 0.38113rem;
    border-radius: 0.76219rem;
    background: var(--CTA---Aqua-Squeeze, #e5f4f2);
  }

  .fast-building-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    align-self: stretch;
    color: #2d2d2d;
    font-family: Mulish;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.h2-fifth-section {
  margin-block-start: 2rem;
  font-family: Poppins;
  font-size: 2.5rem;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-align: center;
}

.p-fifth-section {
  font-family: mulish;
  margin: 2.5rem;
  font-size: 1rem;
  margin-block-start: 1.5rem;
  text-align: center;
}

.prices-section {
  display: flex;
  padding: 2.5rem 1.875rem;
  margin-inline: 2.2rem;
  column-gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.675rem;
  align-self: stretch;
  border-radius: 1.25rem;
  border: 1px solid var(--Neutral---Zircon, #f8f9ff);
  background: #fff;
  box-shadow: 34.85415px 29.62603px 48.34px 0px rgba(51, 102, 255, 0.05);
}

.h3-prices-section {
  color: #2d2d2d;
  font-family: Mulish;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.prices-inline {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
  align-self: stretch;
  align-items: center;
}

.price {
  font-family: poppins;
  font-size: 2rem;
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
  align-self: stretch;
}

.month {
  color: #3b3b3b;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem; /* 1.6rem */
}

.text-under-price {
  font-family: mulish;
  margin-block-end: 1rem;
  .individuals {
    font-family: mulish;
    display: block;
  }
}

.checks-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.first-line-checks {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-block-end: 1rem;
  align-self: stretch;
}

.button-get-started {
  display: flex;
  height: 3.75rem;
  padding: 1rem 3.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  align-self: stretch;
  border-radius: 1.25rem;
  background: #e5f4f2;

  p {
    color: #009379;
    text-align: center;
    font-feature-settings: "liga" off;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
  }
}

.prices-table {
  gap: 1rem;
}

.space-between-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.prices-section-green {
  display: flex;
  font-family: poppins;
  padding: 2.5rem 1.875rem;
  margin-inline: 2.2rem;
  column-gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.675rem;
  align-self: stretch;
  border-radius: 1.25rem;
  border: 1px solid var(--Neutral---Zircon, transparent);
  background: #009379;
  color: white;
  box-shadow: 34.85415px 29.62603px 48.34px 0px rgba(51, 102, 255, 0.05);
  margin-block-end: 2rem;

  .month {
    color: white;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
  }

  .text-under-price {
    font-family: mulish;
  }

  .inline-p {
    font-family: mulish;
  }

  h3 {
    font-family: mulish;
    color: white;
  }
}

.images-container {
  display: flex;
  padding: 60px 30px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.thirth-section {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
}

.h1-thirth-section {
  color: #000;
  text-align: center;
  align-self: stretch;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 49.4px;
  letter-spacing: -0.76px;
}
.h2-thirth-section {
  align-self: stretch;
  color: #2d2d2d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.otter-images {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1 0 0;
  border-radius: 20px;
  box-shadow: 34.85415px 29.62603px 48.34px 0px rgba(51, 102, 255, 0.05);
}
.p-image-one-content {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
  margin-inline: 2.4rem;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 34.85415px 29.62603px 48.34px 0px rgba(51, 102, 255, 0.05);
}
.otter-image-one {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 34.85415px 29.62603px 48.34px 0px rgba(51, 102, 255, 0.05);
  display: flex;
  padding: 60px 30px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.pstrong-image-one {
  align-self: stretch;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.28px;
  color: #2d2d2d;
  display: flex;
  justify-content: flex-start;
}
.p-image-one {
  color: #2d2d2d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.otter-image-two {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 34.85415px 29.62603px 48.34px 0px rgba(51, 102, 255, 0.05);
  display: flex;
  padding: 60px 30px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.pstrong-image-two {
  align-self: stretch;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.28px;
  color: #2d2d2d;
  display: flex;
  justify-content: flex-start;
}

.p-image-two {
  color: #2d2d2d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.otter-image-three {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 34.85415px 29.62603px 48.34px 0px rgba(51, 102, 255, 0.05);
  display: flex;
  padding: 60px 30px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.pstrong-image-three {
  align-self: stretch;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.28px;
  color: #2d2d2d;
  display: flex;
  justify-content: flex-start;
}

.p-image-three {
  color: #2d2d2d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.header-section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.h2-section-4 {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 49.4px;
  letter-spacing: -0.76px;
}

.p-header-forth-section {
  align-self: stretch;
  color: #2d2d2d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.h3-name-costumer {
  align-self: stretch;
  color: var(--neutral-900, #111827);
  text-align: center;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.3px;
}

.profesion-costumer {
  align-self: stretch;
  color: var(--neutral-700, #374151);
  text-align: center;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
}
.opinion-costumer {
  align-self: stretch;
  color: #2d2d2d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  gap: 3rem;
}

.client-card-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.testimonial-client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-self: stretch;
}

.testimonial-clients {
  display: flex;
  padding: 40px 30px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid var(--CTA---Aqua-Squeeze, #e5f4f2);
  background: #fff;
  box-shadow: 34.85415px 29.62603px 48.34px 0px rgba(51, 102, 255, 0.05);
}

.images-container-two {
  display: flex;
  padding: 100px 32px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  align-self: stretch;
  background-color: #f8d57e;
}
